@import "tailwindcss";
body {
  font-family: "Roboto", sans-serif;
}
@theme {
  --color-primary: #32bc9b;
  --color-secondary: #1a1a1a;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-track {
  background-color: var(--color-secondary);
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2a9f87; /* Darker shade on hover */
}
